<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin>
    <general active="1">
        <plugin_name>BadBehavior for Contenido (Free Version)</plugin_name>
        <plugin_foldername>dceBadBehavior</plugin_foldername>
        <!-- UUID generated 17.02.2014 at http://www.contenido.org/de/cms/Home/index-c-1972-3.html -->
        <uuid>ECDB72BE-D0C5-76B6-61CF-F0A7E71A7234</uuid>
        <description>BadBehavior 2.2 for Contenido 4.9 - The Web's premier link spam killer.&lt;br/&gt;For more info about BadBehavior see &lt;a target=&quot;_blank&quot; href=&quot;http://bad-behavior.ioerror.us/&quot; &gt;http://bad-behavior.ioerror.us/&lt;/a&gt;</description>
        <author>Ortwin Pinke</author>
        <copyright>Ortwin Pinke</copyright>
        <mail>plugins@php-backoffice.de</mail>
        <website>http://php-backoffice.de/badbehavior</website>
        <version>2.0.0</version>
    </general>
    <requirements php="5.2.3">
        <contenido minversion="4.9.3" />
    </requirements>
    <contenido>
        <areas>
            <area parent="0" menuless="1">dceBadBehavior</area>
            <area parent="dceBadBehavior" menuless="1">dceBadBehavior_Whitelist</area>
            <area parent="dceBadBehavior" menuless="1">dceBadBehavior_Blacklist</area>
        </areas>
        <actions>
            <action area="dceBadBehavior" relevant="0">dceBadBehavior</action>
            <action area="dceBadBehavior_Whitelist" relevant="0">dceBadBehavior_Whitelist</action>
            <action area="dceBadBehavior_Blacklist" relevant="0">dceBadBehavior_Blacklist</action>
        </actions>
        <frames>
            <frame area="dceBadBehavior" filetype="main" name="dceBadBehavior/includes/include.dceBadBehavior.overview.php" frameId="4" />
            <frame area="dceBadBehavior" filetype="inc" name="dceBadBehavior/includes/include.dceBadBehavior.ajax.php" frameId="4" />
            <frame area="dceBadBehavior_Whitelist" filetype="main" name="dceBadBehavior/includes/include.dceBadBehavior.whitelist.php" frameId="4" />
            <frame area="dceBadBehavior_Blacklist" filetype="main" name="dceBadBehavior/includes/include.dceBadBehavior.blacklist.php" frameId="4" />
        </frames>
        <nav_sub>
            <nav area="dceBadBehavior" level="0" navm="3">dceBadBehavior/xml/;navigation/extra/dceBadBehavior/main</nav>            
            <nav area="dceBadBehavior" level="1" navm="0">dceBadBehavior/xml/;navigation/extra/dceBadBehavior/overview</nav>            
            <nav area="dceBadBehavior_Whitelist" level="1" navm="0">dceBadBehavior/xml/;navigation/extra/dceBadBehavior/whitelist</nav>            
            <nav area="dceBadBehavior_Blacklist" level="1" navm="0">dceBadBehavior/xml/;navigation/extra/dceBadBehavior/blacklist</nav>
        </nav_sub>
    </contenido>
</plugin>
