<div id="bb_content">
    <section class="bb_content_box">
        <h3>{LOG_SECTION_H3_HTML}</h3>
        <div class="bb_content_box_content">
            <table id="badbehavior_data" class="display">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Key</th>
                        <th>Date</th>
                        <th>Agent</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Key</th>
                        <th>Date</th>
                        <th>Agent</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </section>
    <section class="bb_content_box">
        <h3>Options</h3>
        <div class="bb_content_box_content">
            
        </div>
    </section>
</div>
<div id="footer">Bad Behavior 2.2.16 for CONTENIDO 4.9</div>