<div id="bb_content">
    <section id="bb_log" class="bb_content_box" style="position: relative;">
        <h3>{LOG_SECTION_H3_HTML}</h3>
        <img id="but_info_img" style="position: absolute; top: 2px; right: 2px;" src="images/info.gif" alt="more Informations" title="more Informations" />
        <div class="bb_content_box_content">
            <table id="badbehavior_data" class="display">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Key</th>
                        <th>Date</th>
                        <th>Agent</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Key</th>
                        <th>Date</th>
                        <th>Agent</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </section>
    <section id="bb_options" class="bb_content_box">
        <h3>{OPTIONS_SECTION_H3_HTML}</h3>
        <div class="bb_content_box_content" style="position: relative;">
            <input id="bb-client-activate" type="checkbox" checked="checked" disabled="disabled" />
            <label for="bb-client-activate">Activate BB for Client</label>
            <input id="bb-log-activate" type="checkbox" checked="checked" disabled="disabled" />
            <label for="bb-log-activate">Log spam</label> (
            <input id="bb-log-verbose" type="checkbox" checked="checked" disabled="disabled" />
            <label for="bb-log-verbose">also no spam</label>)
            <div style="position: absolute;left: 0;top: 0;right: 0;bottom: 0;"></div>
        </div>
    </section>
</div>
<div id="footer"><a>DCEonline proudly presents Bad Behavior 2.2.16 for CONTENIDO 4.9</a></div>
<section id="bb_entry" style="display: none;" class="bb_content_box">
    <div class="plainmodal-close" id="but_cancel">
        <img id="but_cancel_img" src="images/but_cancel.gif" alt="" />
    </div>
    <h3>Details for Entry #<span id="bb_entry_id">0</span></h3>
    <p id="bb_entry_data"><img id="bb_entry_loader_img" src="images/ajax-loader_16x16.gif" alt="loading..." /></p>
</section>
<section id="bb_info" style="display: none; text-align: center;" class="bb_content_box">
    <h3>Info!</h3>
    <p id="bb_info_data">These functions are only available in pro-version of the plugin</p>
    <p>You may order the pro-version by clicking on the link below</p>
    <a href="http://php-backoffice.de" target="_blank" title="Order now: dceBadBehavior Pro for CONTENDIO 4.9">Order now: dceBadBehavior Pro for CONTENDIO 4.9</a>
</section>
<section id="bb_help" style="display: none; text-align: center;" class="bb_content_box">
    <h3>&Uuml;ber dceBadBehavior f&uuml;r CONTENIDO 4.9!</h3>
    <h5>&copy; 2015 DCEonline, Internet- und Werbeagentur</h5>
    <p>Sie nutzen derzeit die kostenlose Version unseres Plugins. Diese ist in Ihrem Funktionsumfang eingeschränkt.<br/>Folgende Funktionen stehen Ihnen zur Verfügung</p>
</section>